.rightContainer
{
    background-color: #4262E6;
    height:600px;
}
 h1{
    color: aliceblue;
    font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  position: absolute;
  top:50%;
  left:25%;
  transform: translate(-50%, -50%);


}
.btn
{
  background-color:#4262E6;
  width:100%;
  height:50px;
  border:0px;
  border-radius:10px;
  margin-top:10%;
}
.heading
{
  margin-top:10%;
}
.form
{
  margin-top:5%;
  border-bottom:1px solid gainsboro;
}
.form input
{
  height:50px;
}

.container
{
    height:600px;
}
.containersNav
{

    height:600px;
    font-weight: bold;
   
  background-color: gainsboro;
}
.containersNav a{
  color: black;
  margin-left:20px;
}
.google
{
  width:100%;
  height:50px;
margin-top:8%;
border:1px solid gainsboro;
  border-radius:10px;
  text-align: center;
}